h1{
    color: pink;
    font-size: 30pt;
}
body{
    background: transparent url(background.jpg) repeat-y 0 0;
    background-size: cover;
<<<<<<< Updated upstream
    width: 1920px;
    height: 1080px;
}
=======
    position: relative;
}   
>>>>>>> Stashed changes
