#flex-container{
    display: flex;
    flex-flow: row warp;
    height: 100%;
}

#nav, #main, #aside, #footer { 
    background: rgb(184, 43, 8); border: 1px solid black; border-radius: 8px; 
    margin: 5px; padding: 15px; }

h1{
    color: pink;
    font-size: 30pt;
}
body{
    background: transparent url(background.jpg) repeat-y 0 0;
    background-size: cover;
    margin: 50 0 0 0;
    position: relative;
}
#header{
    order: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #383838;
}
#menu{
    order: 2;
    display:flex;
    flex-direction: column;
    background-color: #454545;
    height: 100%;
    width: 25%;
}
#menu a{
    color: #E0E0E0;
}
#menu a:hover{
    border-radius: 5px;
    background-color: #707070;
}
.menu_heading{
    background-color: #333333;
    margin: 0 0;
    padding: 13px;
    letter-spacing: 1px;
}
.menu_item{
    display: flex;
    margin: 0 20px;
    padding: 13px;
    letter-spacing: 1px;
}
#player{
    order: 3;
    width: 100%;
    height: 70%;
}

#nav { 
    order: 2; 
    width: 1000px;
     
}

#main{
    order: 3;
    height: auto;
    width: auto;
    flex-grow: 1;
}

#aside{
    order: 4;
    width: 200px;
}

#footer{
    order: 5;
    height: 50px;
    width: 100%;
}

#header div{
    clear: none;
}

.button{
    background-color: #383838;
    border: none;
    padding: 0 25px;
}
.button2{
    background: url(music-solid.svg);

}