#flex-container{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

#nav, #main, #aside, #footer { 
    background: rgb(184, 43, 8); border: 1px solid black; border-radius: 8px; 
    margin: 5px; padding: 15px; }

h1{
    color: pink;
    font-size: 30pt;
}
body{
    background: transparent url(background.jpg) repeat-y 0 0;
    margin: 50 0 0 0;
    width: 100%;
    height: auto;
    position: relative;
}
#header{
    order: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #383838;
}
#menu{
    order: 2;
    display: flex;
    flex-flow: column;
    background-color: #454545;
    height: auto;
    width: 25%;
}
#menu a{
    color: #E0E0E0;
}
#menu a:hover{
    border-radius: 5px;
    background-color: #707070;
}
.menu_heading{
    background-color: #333333;
    margin: 0 0;
    padding: 13px;
    letter-spacing: 1px;
}
.menu_item{
    margin: 0 20px;
    padding: 10px;
    letter-spacing: 1px;
}
#player{
    order: 3;
    width: 75%;
    height: 70%;
}

#nav { 
    order: 2; 
    width: 1000px;
}

#main{
    order: 3;
    height: auto;
    width: auto;
    flex-grow: 1;
}

#aside{
    order: 1;
    width: 200px;
}

#footer{
    order: 5;
    height: 50px;
    width: 100%;
}

#header div{
    clear: none;
}

.button{
    background-color: #383838;
    border: none;
    padding: 0 25px;
}
@media only screen and (max-width: 800px) {
    #flex-container {
        flex-flow: column;
    }
    #menu {
        width: 100%;
        height: auto;
    }
    .menu_item {
        display: none;
    }
    #player {
        min-height: 500px;
        width: 100%;
    }
}

#table-1 thead, #table-1 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
}

#table-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}
    
#table-1 td, #table-1 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
}
    
#table-1 tr:nth-child(even) {
    background: rgb(223, 216, 232)
}

#table-1 tr:nth-child(odd) {
    background: rgb(199, 118, 118)
}

#table-2 thead, #table-2 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
}

#table-2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}
    
#table-2 td, #table-2 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
}
    
#table-2 tr:nth-child(even) {
    background: rgb(223, 216, 232)
}

#table-2 tr:nth-child(odd) {
    background: rgb(199, 118, 118)
}

#table-3 thead, #table-3 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
}

#table-3 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}
    
#table-3 td, #table-3 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
}
    
#table-3 tr:nth-child(even) {
    background: rgb(223, 216, 232)
}

#table-3 tr:nth-child(odd) {
    background: rgb(199, 118, 118)
}