#flex-container{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}
body{
    background: transparent url(background.jpg) repeat-y 0 0;
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    position: relative;
}
#header{
    order: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #383838;
}
#banner{
    order: 2;
    display: flex;
    flex-flow: column;
    width: 100%;
    left: 0;
}
#menu{
    order: 2;
    display: flex;
    flex-flow: column;
    background-color: #454545;
    height: auto;
    width: 25%;
}
#menu a{
    color: #E0E0E0;
}
#menu a:hover{
    border-radius: 5px;
    background-color: #707070;
}
.menu_heading{
    background-color: #333333;
    margin: 0 0;
    padding: 13px;
    letter-spacing: 1px;
}
.menu_item{
    margin: 0 20px;
    padding: 10px;
    letter-spacing: 1px;
}
#player{
    order: 3;
    width: 75%;
    height: 70%;
}
#main{
    border-radius: 5px;
    order: 3;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
#main img{
    margin-left: 60px;
    margin-right: 60px;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}
#main h1{
    margin: 0 0;
    color: white;
    font-size: 50px;
}
#footer{
    order: 5;
    display: flex;
    position: relative;
    bottom: 0;
    flex-flow: column;
    height: auto;
    width: 100%;
}

#header div{
    clear: none;
}

.button{
    background-color: #383838;
    border: none;
    padding: 0 25px;
}
@media only screen and (max-width: 800px) {
    #flex-container {
        flex-flow: column;
    }
    #menu {
        width: 100%;
        height: auto;
    }
    .menu_item {
        display: none;
    }
    #player {
        min-height: 500px;
        width: 100%;
    }
}

#table-1 thead, #table-1 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
}

#table-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}
    
#table-1 td, #table-1 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
}
    
#table-1 tr:nth-child(even) {
    background: rgb(223, 216, 232)
}

#table-1 tr:nth-child(odd) {
    background: rgb(199, 118, 118)
}

#table-2 thead, #table-2 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
}

#table-2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}
    
#table-2 td, #table-2 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
}
    
#table-2 tr:nth-child(even) {
    background: rgb(223, 216, 232)
}

#table-2 tr:nth-child(odd) {
    background: rgb(199, 118, 118)
}

#table-3 thead, #table-3 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
}

#table-3 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}
    
#table-3 td, #table-3 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
}
    
#table-3 tr:nth-child(even) {
    background: rgb(223, 216, 232)
}

#table-3 tr:nth-child(odd) {
    background: rgb(199, 118, 118)
}

#table-4 thead, #table-4 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
}

#table-4 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}
    
#table-4 td, #table-4 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
}
    
#table-4 tr:nth-child(even) {
    background: rgb(223, 216, 232)
}

#table-4 tr:nth-child(odd) {
    background: rgb(199, 118, 118)
}

*{
    margin: 0;
    padding: 0;
}

.card{
    order: 4;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    width: 300px;
    height: 450px;
    overflow: hidden;
    margin: 20px;
    background-color: lightpink;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 30px #2c2c2c;
    color: var(#454545);
}

.photo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 0%;
    overflow: hidden;
    transition: 0.5s;
}

.photo::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #333, transparent);
}

.card:hover .photo::before{
    display: none;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


